# ESP-IDF build output
build/

# IDE specific files
.vscode/
.idea/

# ESP32 specific
sdkconfig
sdkconfig.old
managed_components/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
